# Development artifacts
target/
.github/
.mvn/
docs/
.idea/
storage/
gatling/
repl/
.DS_Store

# Documentation
_includes/
docs/
*.md
LICENSE

# Git and config files not needed for build
.git/
.gitignore
.editorconfig

# Scripts and local dev files
docker-compose.yaml
.dockerignore
_config.yml
