services:
  web:
    build: .
    ports:
      - 8081:8081
    environment:
      SPRING_PROFILES_ACTIVE: dev,jwt,storage
      SPRING_DATASOURCE_URL: jdbc:pgsql://db:5432/jasper
      SPRING_DATASOURCE_USERNAME: jasper
      SPRING_DATASOURCE_PASSWORD: jasper
    depends_on:
      - db
  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: jasper
      POSTGRES_PASSWORD: jasper
      POSTGRES_DB: jasper
