name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . -t ${{ github.repository }}:$(date +%s)

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the testing image
      run: docker build . --file Dockerfile --target test --tag test
    - name: Run the test container
      run: docker run --name test -v /var/run/docker.sock:/var/run/docker.sock test
    - name: Copy the tests from the container
      if: always()
      run: docker cp test:/tests tests
    - name: Publish Unit Test Results
      uses: dorny/test-reporter@v1
      if: always()
      continue-on-error: true
      with:
        name: Test Results
        path: "tests/*.xml"
        reporter: java-junit
