services:
  gatling:
    build: .
    profiles:
      - lt
    network_mode: host
    depends_on:
      web:
        condition: service_healthy
      repl-web:
        condition: service_healthy
    volumes:
      - ./report:/gatling/report
  web:
    build: ..
    ports:
      - 8081:80
    healthcheck:
      test: "curl -f http://localhost/management/health/readiness"
    environment:
      SPRING_LOGGING_LEVEL_ROOT: WARN
      SPRING_PROFILES_ACTIVE: prod,storage,scripts,proxy
      SPRING_DATASOURCE_URL: jdbc:postgresql://db/jasper
      SPRING_DATASOURCE_USERNAME: jasper
      SPRING_DATASOURCE_PASSWORD: jasper
      SERVER_PORT: 80
      JASPER_DEFAULT_ROLE: ROLE_ADMIN
      JASPER_HEAP: 512m
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_USER: jasper
      POSTGRES_PASSWORD: jasper
      POSTGRES_DB: jasper
  repl-web:
    build: ..
    ports:
      - 8083:80
    healthcheck:
      test: "curl -f http://localhost/management/health/readiness"
    environment:
      SPRING_LOGGING_LEVEL_ROOT: WARN
      SPRING_PROFILES_ACTIVE: prod,scripts
      SPRING_DATASOURCE_URL: jdbc:postgresql://repl-db/jasper
      SPRING_DATASOURCE_USERNAME: jasper
      SPRING_DATASOURCE_PASSWORD: jasper
      SERVER_PORT: 80
      JASPER_LOCAL_ORIGIN: '@repl'
      JASPER_DEFAULT_ROLE: ROLE_ADMIN
      JASPER_OVERRIDE_SERVER_WEB_ORIGINS: '@repl'
      JASPER_HEAP: 256m
    depends_on:
      - repl-db
  repl-db:
    image: postgres
    environment:
      POSTGRES_USER: jasper
      POSTGRES_PASSWORD: jasper
      POSTGRES_DB: jasper
